header {
  text-align: center;
  font-size: 36px;
  color: #000000;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

main, html {
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 165, 199);
}

.container {
  text-align: center;
  color: #eeeeee;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  background-color: #ff5495;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

.button:hover {
  background-color: #ffffff;
}

